@model IEnumerable<CartItem>
<link href="~/css/cart.css" rel="stylesheet" />
<div class="container pb-5 mt-n2 mt-md-n3" style="
    direction: ltr;
    margin-top: 15px;
">
	<div class="row" style="
    text-align: center;
">
		<div class="col-xl-9 col-md-8" style="
    margin-left: 8rem;
">
			<h2 class="h6 d-flex flex-wrap justify-content-between align-items-center px-4 py-3 bg-secondary">
				<span>المنتجات</span>
				<a class="font-size-sm" asp-controller="Customer" asp-action="Index">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left" style="width: 1rem; height: 1rem;"><polyline points="15 18 9 12 15 6"></polyline></svg>متابعة التسوق
				</a>
			</h2>
			@{
				if (Model.Any())
				{
					<form enctype="multipart/form-data" method="post">
						@foreach (var item in Model)
						{
							<input type="text" name="productid" hidden value="@item.ProductId" />


							<div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
								<div class="media d-block d-sm-flex text-center text-sm-left">
									@if (item.Product.Photos.Any())
									{
										var randomPhoto = item.Product.Photos.OrderBy(p => Guid.NewGuid()).FirstOrDefault();
										<a class="cart-item-thumb mx-auto " asp-controller="Customer" asp-action="product_page" asp-route-prdid="@item.Product.ProductId">
											<img src="data:image/png;base64,@Convert.ToBase64String(randomPhoto.Url)" alt="Product">
										</a>



										if (item.Product.HasDiscount == true)
										{
											foreach (var cc in item.Product.Discounts)
											{
												<div class="mask">
													<div class="d-flex  align-items-end h-100" style="    direction: ltr;
																																										">
														<h5><span class="badge bg-danger ms-2">-@(100 - ((cc.DiscountAmount / item.Product.price) * 100))%</span></h5>
													</div>
												</div>
											}
										}

									}
									else
									{
										<a class="cart-item-thumb mx-auto mr-sm-4">

											<img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png" alt="">
										</a>
									}
									<div class="media-body pt-3">
										<h3 class="product-card-title font-weight-semibold border-0 pb-0"><a asp-controller="Customer" asp-route-prdid="@item.Product.ProductId" asp-action="product_page">@item.Product.Product_Name</a></h3>
										<div class="font-size-sm"><span class="text-muted mr-2">النوع :</span>@item.Product.Type</div>
										<div class="font-size-sm"><span class="text-muted mr-2">القسم :</span>@item.Product.Category.Category_Name</div>
										@{
											if (item.Product.HasDiscount == true)
											{
												foreach (var cc in item.Product.Discounts)
												{
													<input type="text" name="productprice" hidden value="@cc.DiscountAmount" />


													<div class="font-size-lg text-primary pt-2">$@cc.DiscountAmount</div>
													<div class="font-size-lg text-primary pt-2" style="color:red !important;"><del>$@item.Product.price</del></div>
												}


											}
											else
											{
												<input type="text" name="productprice" hidden value="@item.Product.price" />

												<div class="font-size-lg text-primary pt-2">$@item.Product.price</div>

											}
										}
									</div>
								</div>
								<div class="pt-2 pt-sm-0 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 10rem;">
									<div class="form-group mb-2">
										<label for="quantity1">الكمية</label>
										<input class="form-control form-control-sm quantityInput" type="number" min="1" max="@item.Product.quantity" id="quantity1" name="qs" value="@item.Quentity">
									</div>

									<a asp-controller="Customer" asp-action="delete_item" asp-route-pdid="@item.Product.ProductId" asp-route-cartid="@item.Cart.CartId">

										<button class="btn btn-danger btn-sm btn-block mb-2" type="button">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 mr-1">
												<polyline points="3 6 5 6 21 6"></polyline>
												<path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
												<line x1="10" y1="11" x2="10" y2="17"></line>
												<line x1="14" y1="11" x2="14" y2="17"></line>
											</svg>
										</button>
									</a>
								</div>
							</div>


						}
						<input type="hidden" id="totalPriceInput" name="totalPrice" value="" />

						<div class="card mb-4" dir="rtl">
							<div class="card-header py-3">
								<h5 class="mb-0">السعر</h5>
							</div>
							<div class="card-body">
								<ul class="list-group list-group-flush">

									<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
										<div>
											<strong>السعر الكلي</strong>
										</div>
										<strong>$<span id="totalPrice">0</span></strong>
									</li>
								</ul>
							</div>
						</div>

						<button type="button" class="button-43" style="
					width: 100%;
		" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
							اتمام الشراء
						</button>
						<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="top:10rem;">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="staticBackdropLabel">ادخل بياناتك</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>

									<partial name="_order_Cust.cshtml" model="new Order()" />
									<div class="modal-footer">
										<input type="hidden" id="totalPriceInput" name="totalPrice" />
										<button type="submit" asp-controller="Customer" asp-action="Confirm_Order" asp-route-Cid="@ViewBag.ccust" class="button-43"style="width:100%;">شراء</button>
									</div>

								</div>
							</div>
						</div>






					</form>

				}
				else
				{
					<h3 style="
												text-align: center;
												font-size: xx-large;
												font-family: system-ui;
																">
						السلة فارغة
					</h3>
				}


			}


		</div>

	</div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			updateTotalPrice();

			var quantityInputs = document.querySelectorAll('.quantityInput');
			quantityInputs.forEach(function (input) {
				input.addEventListener('input', function () {
					updateTotalPrice();
				});
			});

			function updateTotalPrice() {
				var totalPrice = 0;

				var cartItems = document.querySelectorAll('.d-sm-flex.justify-content-between.my-4.pb-4.border-bottom');
				cartItems.forEach(function (cartItem) {
					var quantity = parseInt(cartItem.querySelector('.quantityInput').value);
					var price = parseFloat(cartItem.querySelector('.text-primary').textContent.replace('$', ''));

					totalPrice += quantity * price;
				});

				document.getElementById('totalPrice').textContent = totalPrice.toFixed(2);

				document.getElementById('totalPriceInput').value = totalPrice.toFixed(2);
			}
		});
	</script>
}
